// Footer.module.scss
.johanUl {

  
    li {
  
      a {
        text-decoration: none;
        color: greenyellow;
        font-size: 1.2rem;
  
        &:hover {
          color: blueviolet;
        }
      }
    }
  }
  